<app-header [title]="title" [loggedIn]="true" (onSidebarToggle)="toggleSidebar()"></app-header>


<mat-drawer-container class="example-container" [hasBackdrop]="false">
  <mat-drawer #drawer [mode]="'side'" [(opened)]="sideBarOpen">
    <!-- I'm a drawer -->
    <div class="sidenav-header">
      <!-- <img class="avatar mat-elevation-z8" src="https://source.unsplash.com/c_GmwfHBDzk/200x200" /> -->
      <!-- <img class="avatar mat-elevation-z8" src="/assets/images/logo.png" /> -->
      <mat-icon class="avatar">account_circle</mat-icon>
      <h4 class="name">{{ name }}</h4>
      <p class="designation">{{ role }}</p>
      <mat-divider></mat-divider>
    </div>
    <mat-nav-list>
      <a mat-list-item routerLink="/dashboard" routerLinkActive="active">
        <mat-icon>dashboard</mat-icon>
        <span>Dashboard</span>
      </a>
      <a mat-list-item routerLink="/users" routerLinkActive="active">
        <mat-icon>people</mat-icon>
        <span>Users</span>
      </a>
      <a mat-list-item routerLink="/roles" routerLinkActive="active">
        <mat-icon>security</mat-icon>
        <span>Roles</span>
      </a>
      <a mat-list-item routerLink="/permissions" routerLinkActive="active">
        <mat-icon>lock</mat-icon>
        <span>Permissions</span>
      </a>
      <a mat-list-item routerLink="/settings" routerLinkActive="active">
        <mat-icon>settings</mat-icon>
        <span>Settings</span>
      </a>
    </mat-nav-list>
  </mat-drawer>
  <mat-drawer-content>
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>
